{% extends 'base.html' %}
{% load jalali_tags %}

{% block content %}
    <div class="col-12 mb-md-0 mb-4">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger">
                    <button type="button" class="btn close" data-dismiss="alert" aria-label="بستن">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="btn close" data-dismiss="alert" aria-label="بستن">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="card invoice-preview-card">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {#                    {{ form }}#}
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">موضوع:</label>
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">کارشناس:</label>
                                {{ form.expert }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">نام:</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">نام خانوادگی:</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">نام شرکت:</label>
                                {{ form.company }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">سمت:</label>
                                {{ form.role }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">شماره تماس:</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">شماره موبایل:</label>
                                {{ form.mobile }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">ایمیل:</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">وب سایت:</label>
                                {{ form.website }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">زمینه فعالیت شرکت:</label>
                                {{ form.company_activity_area }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">تعداد پرسنل:</label>
                                {{ form.staff_count }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">نوع آشنایی:</label>
                                {{ form.source }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">رتبه:</label>
                                {{ form.rate }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-group">
                                <label for="">وضعیت:</label>
                                {{ form.status }}
                            </div>
                        </div>
                        <div class="col-md-12 mb-2">
                            <div class="form-group">
                                <label for="">آدرس:</label>
                                {{ form.address }}
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="ذخیره" class="btn btn-label-success mt-3">
                </form>
            </div>
        </div>
    </div>
{% endblock %}