{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}افزودن فرصت{% endblock title %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1">
                    <li class="breadcrumb-item">
                        <a href="#">خانه</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'opportunity_list' %}">لیست فرصت ها</a>
                    </li>
                    <li class="breadcrumb-item active">افزودن فرصت</li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">موضوع:</label>
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">حساب:</label>
                            {{ form.account }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">تاریخ فروش:</label>
                            {{ form.sell_date }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">احتمال فروش:</label>
                            {{ form.sell_probability }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">کارشناس:</label>
                            {{ form.expert }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">مبلغ کل:</label>
                            {{ form.total_price }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">منبع:</label>
                            {{ form.source }}
                        </div>
                    </div>
                    <span class="col-md-6"></span>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">قدم بعدی:</label>
                            {{ form.next_step }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="">توضیحات:</label>
                            {{ form.description }}
                        </div>
                    </div>
                </div>
                <input type="submit" value="افزودن" class="btn btn-label-success">
            </form>
        </div>
    </div>

{% endblock %}