{% extends 'base.html' %}
{% load humanize %}

{% load static %}
{% load jalali_tags %}

{% block title %}جزئیات سفارش{% endblock title %}

{% block content %}

    <style>
        .order-product-list {
            display: flex;
            list-style: none;
            padding-bottom: 15px;
        }

        .order-product-list:not(:last-child) {
            border-bottom: 1px solid #d4d8dd;
        }

        .order-product-list li {
            margin-left: 1rem;
        }
    </style>

    <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                        <button type="button" class="btn close" data-dismiss="alert" aria-label="بستن">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="btn close" data-dismiss="alert" aria-label="بستن">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="card invoice-preview-card">
                <div class="card-body">
                    <div class="row">
                        {% if perms.order.change_order %}
                            <div class="col-md-4 mb-2">
                                <label class="form-label">وضعیت سفارش</label>
                                <select name="track" id="statusSelect" class="form-select">
                                    <option value="REGISTER" {% if order.track == 'REGISTER' %} selected {% endif %}>ثبت
                                        سفارش
                                    </option>
                                    <option value="HOLDING" {% if order.track == 'HOLDING' %} selected {% endif %}>در
                                        انتظار
                                        تایید سفارش
                                    </option>
                                    <option value="PRODUCING" {% if order.track == 'PRODUCING' %} selected {% endif %}>
                                        درحال
                                        تولید
                                    </option>
                                    <option value="PAYING" {% if order.track == 'PAYING' %} selected {% endif %}>در
                                        انتظار
                                        تکمیل وجه
                                    </option>
                                    <option value="COMPLETE" {% if order.track == 'COMPLETE' %} selected {% endif %}>
                                        تکمیل سفارش
                                    </option>
                                    <option value="CANCEL" {% if order.track == 'CANCEL' %} selected {% endif %}>لغو
                                        سفارش
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-3 align-self-center">
                                <label for="sendStatusChangeSms">پیامک تغییر وضعیت ارسال شود؟</label>
                                <input class="mx-2" type="checkbox" checked id="sendStatusChangeSms">
                            </div>
                            {% if order.track == 'HOLDING' %}
                                <form class="col-md-4" action="{% url 'check_confirmation_is_ok' order.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <div>
                                        <label for="preholdinginput">کد تایید سفارش</label>
                                        <input type="text" id="preholdinginput" name="confirmation_code"
                                               class="form-control mb-2">
                                        <button class="btn btn-label-success">تایید کد</button>
                                    </div>
                                </form>
                            {% endif %}
                            <div class="gap-4 mb-2 d-flex">
                                <button type="button" class="btn btn-label-primary" style="margin-top: 1.7rem;"
                                        id="changeStatusBtn" data-id="{{ order.id }}">تغییر وضعیت سفارش
                                </button>
                                <a href="{% url 'send_factor_whatsapp' order.id %}">
                                    <button type="button" class="btn btn-label-success" style="margin-top: 1.7rem;">
                                        ارسال فاکتور به واتس اپ
                                    </button>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-12 mb-2">
                                <span class="invoice-number mr-50">وضعیت سفارش</span>
                                <b>{{ order.get_track }}</b>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div
                            class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0">
                        <div class="mb-xl-0 mb-4">
                            <div class="d-flex align-items-center svg-illustration mb-3 gap-2">
                                <span class="app-brand-text h3 mb-0 fw-bold">گروه صنعتی ANG</span>
                            </div>
                            <p class="mb-1">تهران سهروردی شمالی</p>
                            <p class="mb-0"><span class="d-inline-block" dir="ltr">02186120021</span>
                            <p class="mb-1">قم ، شهرک صنعتی شکوهیه</p>
                            <p class="mb-0"><span class="d-inline-block" dir="ltr">02533346088</span>
                        </div>
                        <div>
                            <h4>شماره سفارش : {{ order.transId }}#</h4>
                            <div class="mb-2 lh-1-85">
                                <span class="me-1">تاریخ صدور:</span>
                                <span class="fw-semibold">{{ order.createdAt|to_jalali:'%y/%m/%d' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <div class="row p-sm-3 p-0">
                        <div class="col-xl-6 col-md-12 col-sm-5 col-12 mb-xl-0 mb-md-4 mb-sm-0 mb-4">
                            <h6 class="pb-2">صورتحساب به:</h6>
                            <p class="mb-1">
                                نام و نام خانوادگی :
                                <b>{{ order.user.profile.get_full_name }}</b>
                            </p>
                            {% if order.user.profile.role == '2' %}
                                <p class="mb-1">
                                    نام شرکت :
                                    <b>{{ order.user.profile.legal.company_name }}</b>
                                </p>
                            {% endif %}
                            <p class="mb-1">
                                آدرس :
                                <b>{{ order.user.profile.state.name }}.{{ order.user.profile.city.name }}.{{ order.user.profile.address }}</b>
                            </p>
                            <p class="mb-1">
                                شماره تماس :
                                <b>{{ order.user.profile.mobile }}</b>
                            </p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                {% regroup items by productName as product_list %}
                {% for productName in product_list %}
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <h5 class="card-header">{{ productName.grouper }}</h5>
                            <tbody>
                            {% for item in productName.list %}
                                <tr>
                                    <th>کد محصول : {{ item.code }}</th>
                                    {% if item.color %}
                                        <th>رنگ : {{ item.colorName }}</th>
                                    {% endif %}
                                    {% for i in item.orderitemdetail_set.all|dictsort:'id' %}
                                        <th>
                                            {{ i.featureName }} : {{ i.featureValueName }}
                                        </th>
                                    {% endfor %}
                                    <th>تعداد : {{ item.quantity }}</th>
                                    {% if request.user.is_superuser %}
                                        <th>فی : {{ item.fee|intcomma }}</th>
                                    {% elif item.order.track != 'REGISTER' and item.order.track != 'HOLDING' %}
                                        <th>فی : {{ item.fee|intcomma }}</th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
            <div class="card">
                <div class="card-body">

                    <button class="btn btn-label-secondary w-100 mb-3">
                        <i class="bx bx-download"></i> دریافت
                    </button>
                    <a class="btn btn-label-primary w-100 mb-3" target="_blank"
                       href="{% url 'order_invoice' order.id %}">
                        <i class="bx bx-printer"></i> چاپ
                    </a>
                    {% if perms.order.change_order %}
                        <a href="{% url 'order_edit' order.id %}" class="btn btn-label-success w-100 mb-3">
                            <i class="bx bx-edit-alt"></i> ویرایش صورتحساب
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /Invoice Actions -->
    </div>
{% endblock content %}